local.properties
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
# Project exclude paths
/.gradle/
/shared/build/
AppSecrets.plist
/iosApp/iosApp/AppSecrets.plist
