{
  "project_info": {
    "project_number": "906639164472",
    "project_id": "talkingmarkers",
    "storage_bucket": "talkingmarkers.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:906639164472:android:1425666ed80e9245b592cd",
        "android_client_info": {
          "package_name": "com.realityexpander.talkinghistoricalmarkers"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE WITH YOUR OWN KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
